*body {
    margin: 0px;
    padding: 0px;
}
.wrapper {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color:blue;
}

.mainbody {
    width: 1200px;
    height: auto;
    margin: 10px auto 10px auto;
    overflow: hidden;
    background-color:white;
}
.col1 {
    width: 23%;
    float: left;
    height: 300px;
    background-color: purple;
}
.col2{
    width: 23%;
    float: left;
    margin-left: 15%;
    height: 300px;
    background-color: rgb(231, 205, 56);
}
.col3 {
    width: 23%;
    float: right;
    height: 300px;
    background-color: rgb(12, 245, 24);
}
