.heading {
  font: 40px bold normal fantasy;
  text-align: center;
  color: black;
  text-shadow:1px 1px 2px purple;
}
header.head-page{
  font-variant: small-caps;
  font-family: fantasy;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  
}
 
.sidebar{
  width: 215px;
  float: right;
  background-color: gray;
  color: white;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;

}
aside {
  width: 215px;
  float: right;
  background-color: gray;
  color: white;
  padding: 10px;
  height: 345px;
  border-radius: 10px;
}





  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
  }
  li {
      float: left;
  }
  li a {
      display: block;
      color: white;
      text-align: center;
      padding: 16px;
      text-decoration: none;
    }
    .navbar input{
      border: 2px solid black;
      border-radius: 20px;
      padding: 3px 4px;
  width: auto;
    }
  
  
    .searchbar {
      float: right;
      color: white;
      padding: 12px 75px;
  
  
    }
    
    li a:hover {
      background-color: purple;
    }
  
